/* Externo */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* Variables */
:root {
    /* Primario */
    --rojo-brillante: rgb(242, 95, 58);
    --azul-oscuro: rgb(35, 44, 81);
    /* Neutro */
    --azul-grisaceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-palido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);


}

/* 
font-family: 'Be Vietnam Pro', sans-serif;
*/
* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;

}

main {
    padding: 168px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(32px) calc(168px);
}

header div,
header nav li,
header img,
header nav {
    display: inline-block;
    height: fit-content;
}

header nav li a {
    color: var(--azul-oscuro);
    text-decoration: none;
    font-weight: 500;
    line-height: 19px;
    margin-right: 18px;
}

button.GetStarted {
    padding: 15px 32px;
    border: none;
    border-radius: 50px;
    background-color: var(--rojo-brillante);
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* Seccion 1 */
section.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.section-one div.banner h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 66px;
    color: var(--azul-oscuro);
}

div.banner p {
    color: black;
    line-height: 32px;
}

div.banner div {
    margin-bottom: 16px;
}


/* Seccion 2 */
section.section-two {
    display: flex;
    justify-content: space-between;
}

section.section-two div.left {
    font-weight: 700;
    font-size: 32px;
    margin-top: 32px;
    color: var(--azul-oscuro);
}

div.left p {
    color: black;
    margin-top: 32px;
    font-size: 16px;
}

/* Section 2.2 */
.list-piola {
    margin-left: 128px;
    list-style: none;
    position: relative;
    counter-reset: count;
}

.list-piola li div span {
    color: var(--azul-muy-oscuro);
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}
.list-piola li div p{
    margin-top: 9px;
    color: var(--azul-grisaceo-oscuro);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.list-piola li {
    counter-increment: count;
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.list-piola li::before {
    content: '0' counter(count);
    color: white;
    padding: 10px 25px;
    background-color: #F3603B;
    font-weight: bold;
    border-radius: 30px;
    height: fit-content;
}

.list-piola li div {
    margin-left: 23px;
    margin-top: 8px;
    margin-bottom: 23px;
}
section.three{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.three h2{
    font-size: 32px;
    line-height: 62px;
    color: var(--azul-muy-oscuro);
    text-align: center;
}
section.three div.cards-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--variante-gris-claro);
    text-align: center;
    margin-top: 128px;
    padding: 15px;
    margin-bottom: 32px;
} 
div.cards-container article img{
    margin-top: calc(-72px - 15px);
}
article.card{
    font-weight: 700;
    line-height: 26px;
    color: var(--azul-muy-oscuro);
}
article.card p{
    text-align: center;
    font-weight: 400;
    color: var(--azul-grisaceo-oscuro);
}
/* Footer */
footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div.up{
    background-color: var(--rojo-brillante);
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding: 32px 0;
}
footer div.up span{
    width: 35%;
}
footer button.GetStarted{
    background-color: white;
    color: var(--rojo-brillante);
    height: fit-content;
}
footer div.down{
    background-color: var(--azul-muy-oscuro);
}
div.down ul{
    list-style: none;
}
div.down div{
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
}
div.down ul.redes{
    display: flex;
}
ul.redes li a i{
    margin: 15px;
    text-decoration: none;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer ul.foots li{
    margin-bottom: 8px;
}

div.end{
    color: white;
}
div.end form input:nth-child(1){
    padding: 12.5px 48px 12.5px 10px;
    border-radius: 50px;
    border: none;
}
div.end form input:nth-child(2){
    border-radius: 50px;
    padding: 12.5px 22.5px;
    color: white;
    background-color: var(--rojo-brillante);
}
div.end div:nth-child(2){
    color: var(--azul-grisaceo-oscuro);
    font-size: 13px;
}

/* PSUDO */
button.GetStarted:hover{
    background-color: white;
    color: var(--rojo-brillante);
}
ul.redes li a i:hover, ul.foots li a:hover{
    color: var(--rojo-brillante);
}
div.end form input:nth-child(2):hover{
    background-color: white;
    color: var(--rojo-brillante);
}
header nav li a:hover{
    color: var(--azul-grisaceo-oscuro);
}
/* MeriaQue */

@media (max-width: 375px) {
    header nav, header div{
        display: none;
    }
    
}