/* Externo */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* 
font-family: 'Be Vietnam Pro', sans-serif;
*/
/* Seccion 2 */
section.section-two{
    display: flex;
    justify-content: space-around;
}
section.section-two div{
    width: 45%;
    background-color: firebrick;
}
/* Section 2.2 */
* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pruee {
    list-style: none;
    position: relative;
    counter-reset: count;
}

.pruee li {
    counter-increment: count;
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.pruee li::before {
    content: '0' counter(count);
    color: white;
    padding: 10px 25px;
    background-color: #F3603B;
    font-weight: bold;
    border-radius: 30px;
    height: fit-content;
}

.pruee li div {
    margin-left: 23px;
    margin-top: 8px;
    margin-bottom: 23px;
}